# Android files   #
###################
platforms/android/assets/www
platforms/android/assets/www/*
platforms/android/bin/
platforms/android/bin/*
platforms/android/gen/

# Apatana Files #
#################
www/.project
.DS_Store
www/.DS_Store
