<div data-role="panel" id="left-panel" data-theme="b">
		        <img src="../../img/iconos/logo_aju.png">
				
		          <div data-role="collapsible-set" data-inset="false" data-iconpos="left">	            
		             <h4>Búsqueda</h4>
		            <div data-role="collapsible" data-collapsed-icon='acul' data-expanded-icon='acul'>
			             <h1 class='aprincipal'>Agenda Principal</h1>
			              <ul data-role="listview">
			                <li><a href="#">
			                		<h6 class='aprincipal'>Avui</h6>
			                </a></li>
			               	 <li><a href="#">
			                		<h6 class='aprincipal'>Aquesta setmana</h6>
			                </a></li>
			                <li><a href="#">
			                		<h6 class='aprincipal'>Aquest mes</h6>
			                </a></li>
			                <li><a href="#">
			                		<h6 class='aprincipal'>Totes</h6>
			                </a></li>
			              </ul>
		            </div><!-- /collapsible -->
		            <div data-role="collapsible" data-collapsed-icon='infr' data-expanded-icon='infr'>
		              <h1 class='infr'>Infraestructures</h1>
		              <ul data-role="listview">
						
		              </ul>
		            </div><!-- /collapsible -->
		            <h4>Categories</h4>
		            <div data-role="collapsible" data-collapsed-icon='adminis' data-expanded-icon='adminis'>
		              <h1 class='admin'>Activitats Administratives</h1>
		              <ul data-role="listview">
		                <li><a href="#">Calendari del contribuïent</a></li>
		                <li><a href="#">Licitacions</a></li>
		                <li><a href="#">Concurrencies d'ofertes</a></li>
		                <li><a href="#">Convocatories de<br>sel·lecció del personal</a></li>
		              </ul>
		            </div><!-- /collapsible -->
		            
		            <div data-role="collapsible" data-collapsed-icon='culturals' data-expanded-icon='culturals'>
		              <h1>Activitats Culturals</h1>
		              <ul data-role="listview">
		                <li><a href="#">Festes populars</a></li>
		                <li><a href="#">Creuacarrers, balls<br>de gegants i correfocs</a></li>
		                <li><a href="#">Castellers</a></li>
		                <li><a href="#">Balls populars</a></li>
		                <li><a href="#">Exposicions</a></li>
		                <li><a href="#">Cursos i tallers</a></li>
		                <li><a href="#">Biblioteques</a></li>
		                <li><a href="#">Concerts</a></li>
		                <li><a href="#">Altres espectacles i festes</a></li>
		              </ul>
		            </div><!-- /collapsible -->

		            <div data-role="collapsible" data-collapsed-icon='esportives' data-expanded-icon='esportives'>
		              <h1>Activitats Esportives</h1>
		              <ul data-role="listview">
						
		              </ul>
		            </div><!-- /collapsible -->
		             <h4>Opcions</h4>
		            <div data-role="collapsible" data-collapsed-icon='config' data-expanded-icon='config'>
		              <h1>Configuració</h1>
		              <ul data-role="listview">
						
		              </ul>
		            </div><!-- /collapsible -->
		           </div><!-- /collapsible-set-->
					
		    </div><!-- /panel -->