<!DOCTYPE html>
	<head>
		<title>Santa Coloma App</title>
		<meta charset="utf-8" />
		</head>
	<body>
		<div data-url="t_conf" data-role="page" id="t_conf">
		    <div data-role="header" class='hconf'>
		        <h1>CONFIGURACIÓ</h1>
		       <a data-theme=" " data-iconshadow="false" data-shadow="false" data-iconpos="notext" data-icon="main" href="#left-panel">Menu</a>
		       <a data-theme=" " data-iconshadow="false" data-shadow="false" data-iconpos="notext" data-icon="aback" href="#app/views/t_gen.html">Back</a>
		       
		    </div><!-- /header -->
		    <div data-role='content'>
		    	<h4>Idioma</h4>
				<form>
			      <fieldset data-role="controlgroup" data-type="horizontal">
			        <input type="radio" name="radio-choice" id="radio-choice-1" value="CAT" checked="checked" class='o-idiom'/>
			        <label for="radio-choice-1">CAT</label>
			 
			        <input type="radio" name="radio-choice" id="radio-choice-2" value="ESP" class='o-idiom' />
			        <label for="radio-choice-2">ESP</label>
			      </fieldset> 
			    </form>
		    	<h4>Sincronització de comptes</h4>
		    </div><!--content-->
		</div><!--template-->
	</body>
</html>