<!DOCTYPE html>
	<head>
		<title>Santa Coloma App</title>
		<meta charset="utf-8" />
		</head>
	<body>
		<div data-url="t_infr" data-role="page" id="t_infr">
		    <div data-role="header" class='hinfr' data-position='fixed'>
		        <h1>INFRAESTRUCTURES</h1>
		       <a data-theme=" " data-iconshadow="false" data-shadow="false" data-iconpos="notext" data-icon="aback" href="#app/views/t_gen.html">Back</a>
		       
		    </div><!-- /header -->
		    <div data-role='content'>
		    	<div class='content_detail'>
			    	<div class='h_detail'>
			    		<h5 class='infr cat'>Nom de la infraestructura</h5>
			    	</div>
			    	<div>
			        	<p class='desc_detail'>
			        		Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.
			        	</p>
			        </div>
			        
			        
			    	<div>
			    		<h4 class='infr'>Ubicación</h4>
			    		<div class='card'>
			    			<ul data-role='listview' >
				    			<li><span class='c_tit'>Calle: </span><span>Avd. Pallaresa 99</span></li>
				    			<li><span class='c_tit'>Barrio: </span><span>Centro</span></li>
				    			<li><span class='c_tit'>Población: </span><span>Santa Coloma de Gramenet</span></li>
				    			<li><span class='c_tit'>Província: </span><span>Barcelona</span></li>
				    			<li><span class='c_tit'>Código postal: </span><span>08921</span></li>
			    			</ul>
			           </div>
			    	</div><!-- Ubicacion-->
		    
			       <div>
			    		<h4 class='infr'>Información del centro</h4>
			    		<div class='card'>
			    			<ul data-role='listview' >
				    			<li><span class='c_tit'>Mas Fonollar</span></li>
				    			<li><span class='c_tit'>www.masfonollar.cat</span></li>
			    			</ul>
			    		</div>
			    		<div class='card'>
			    			<ul data-role='listview' >
				    			<li><span class='c_tit'>Responsable: </span><span>Xavi García González</span></li>
				    			<li><span class='c_tit'>Teléfono: </span><span>(93)485 65 82</span></li>
				    			<li><span class='c_tit'>Teléfono: </span><span>654 523 841</span></li>
				    			<li><span class='c_tit'>Fáx: </span><span>(93)548 12 65</span></li>
			    			</ul>
			           </div>
			    	</div><!--Informacion del centro-->


					<div>
						<ul data-role='listview' data-icon='false' data-theme='x'>
						<li><a href='"#app/views/t_gen.html"'>
							<div class='ver_actividades'>
 			            		<div class='ver_act_icon'>
		            				<img src='img/iconos/Infraestructura/32/actividades.png'>
		            			</div>
		            			<div class='infr ver_act_text'>
		            				<span>Ver actividades</span>
		            			</div>
		            		</div>
			            </a></li>
			            
			           </ul
					</div>

			   </div><!-- content detail-->
		    </div><!--content-->
		</div><!--template-->
	</body>
</html>
