/*Div general de contenido*/
#index #activity .ui-content{
	background-color: white;
}

/*Cabecera del contenido: categoria y subcategoria si la tubeira*/
#activity .ui-content .h_detail{
	text-shadow: none;
	border-color: white;
	padding-top: 1%;
}

#activity .cat{
	font-size: 20px;
	font-weight: 900;
}
#activity .subcat{
	font-size: 16px;
    margin-top: -34px;
}



/*Lista dia, horari, preu, infr*/
#activity .ui-content .ui-listview{
	margin-top: 20px;
	
}

/*Elementos de la lista*/
#activity .ui-content .ui-listview .ui-li-static{
	text-shadow: none;
	border-color: white;
	background-color: white;
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
}
/*Icono de la lista*/
#activity .ui-listview .ui-li-icon {
	top: 2px;
	margin-right: 50px;
}

/*Descripcion*/
#activity .ui-content .desc_detail {
	margin-top: 20px;
}

#activity .ui-content .fb{
	display: inline-block;
	vertical-align:top;
	margin-right: 10px;
}
#activity .ui-content .tw{
	display: inline-block;
	vertical-align:top;
}

#activity .ui-content .share_text{
	width: 200px;
	text-shadow: none;
	font-size: 12px;
}

#activity .ui-content .contenactivity{margin-left:17px; margin-right: 37px;}
#activity .ui-content .contenactivity .card{margin-left:-8px;}



#activity .ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon{
	padding-left: 32px;
}
