/*Div general de contenido*/
#t_detail .ui-content{
	padding-left: 5%;
	background-color: white;
}

/*Cabecera del contenido: categoria y subcategoria si la tubeira*/
#t_detail .ui-content .h_detail{
	text-shadow: none;
	border-color: white;
	padding-top: 1%;
}

#t_detail .cat{
	font-size: 20px;
	font-weight: 900;
}
#t_detail .subcat{
	margin-top:-30px;
	font-size: 14px;
}



/*Lista dia, horari, preu, infr*/
#t_detail .ui-content .ui-listview{
	margin-top: 20px;
	
}

/*Elementos de la lista*/
#t_detail .ui-content .ui-listview .ui-li-static{
	text-shadow: none;
	border-color: white;
	background-color: white;
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
}
/*Icono de la lista*/
#t_detail .ui-listview .ui-li-icon {
	top: 2px;
}

/*Descripcion*/
#t_detail .ui-content .desc_detail {
	margin-top: 40px;
}

#t_detail .ui-content .fb{
	display: inline-block;
	vertical-align:top;
	margin-right: 10px;
}
#t_detail .ui-content .tw{
	display: inline-block;
	vertical-align:top;
}

#t_detail .ui-content .share_text{
	width: 200px;
	text-shadow: none;
	font-size: 12px;
}

