/*color del fondo de los links del contenido*/																		
#index .ui-content .ui-btn-inner{ background: #F5F5F5;}
#template .ui-content .ui-btn-inner{ background: #F5F5F5;}
/*alineacion de la cabecera*/																		
#index .ui-header .ui-title{ text-align:left;margin-left: 3%; text-shadow: none;}
#template .ui-header .ui-title{ text-align:left;margin-left: 3%; text-shadow: none;}

/*Fondo agenda principal*/
.haprin{
    background: #0066CC;
    border-color: #0066CC;
}
/*Fondo agenda cultural*/
.hacul{
	background: #996699;
	border-color:#996699;
}
/*Fondo esportives*/
.hesportives{
	background: #FF6633;
	border-color:#FF6633;
	
}
/*Fondo administratives*/
.hadmin{
	background: #FF6666;
	border-color:#FF6666;
}
/*Fondo infraestructures*/
.hinfr{
	background: #99CC00;
	border-color:#99CC00;
}
/*Fondo configuraciol*/
.hconfig{
	background: #666666;
	border-color:#666666;
}