/*color del fondo de los links del contenido*/																		
#index .ui-content .ui-btn-inner{ background: #F5F5F5;}
#t_gen .ui-content .ui-btn-inner{ background: white;}
#t_detail .ui-content .ui-btn-inner{ background: #F5F5F5;}

/*alineacion de la cabecera*/																		
#index .ui-header .ui-title{ text-align:left;margin-left: 73px; padding-left: 12px; text-shadow: none; height: 27px; margin-top:17px; font-size: 20px;border-left: 3px solid white;}
#t_gen .ui-header .ui-title{ text-align:left;margin-left: 73px; padding-left: 12px; text-shadow: none; height: 27px; margin-top:17px; font-size: 20px;border-left: 3px solid white;}
#t_detail .ui-header .ui-title{ text-align:left;margin-left: 73px; padding-left: 12px; text-shadow: none; height: 27px; margin-top:17px; font-size: 20px;border-left: 3px solid white;}
#t_conf .ui-header .ui-title{ text-align:left;margin-left: 73px; padding-left: 12px; text-shadow: none; height: 27px; margin-top:17px; font-size: 20px;border-left: 3px solid white;}

/*Icono menu*/
/*La imagen del dibujo*/
#index .ui-btn-icon-notext .ui-btn-inner {
    height: 100%;
    margin-left: 4px;
    margin-top: 0;
    padding: 0;
}
/*La posicion del enlace*/
#index .ui-footer > .ui-btn-icon-notext, .ui-header > .ui-btn-icon-notext, .ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
    /*border: 1px solid #000000;*/
    left: 32px;
    top: 18px;
}

/*Fondo agenda principal*/
.haprin{
    background: #0066CC;
    border-color: #0066CC;
}
/*Fondo agenda cultural*/
.hacul{
	background: #996699;
	border-color:#996699;
}
/*Fondo esportives*/
.hesportives{
	background: #FF6633;
	border-color:#FF6633;
	
}
/*Fondo administratives*/
.hadmin{
	background: #FF6666;
	border-color:#FF6666;
}
/*Fondo infraestructures*/
.hinfr{
	background: #99CC00;
	border-color:#99CC00;
}
/*Fondo configuraciol*/
.hconfig{
	background: #666666;
	border-color:#666666;
}


