/*CSS Contenido, pagina principal*/
/*Icono y contenido de cada actividad*/
.ico_act{
	display: inline-block;
	vertical-align:top;
}
.content_act{
	display: inline-block;
	vertical-align:top;
	margin-top: 6px;
	margin-left: 8px;
}


/*Colores para los tipos de actividades*/
.acul{
	color: #996699;
	text-shadow:none;
}
.esportives{
	color: #FF6633;
	text-shadow:none;
	
}
.admin{
	color: #FF6666;
	text-shadow:none;
}
.aprincipal{
	color: #0066CC;
	text-shadow: none;
}
.infr{
	color: #99CC00;
	text-shadow: none;
}
.config{
	color: #666666;
	text-shadow: none;
}

.desc{
	color: #3c3c3b;
	font-style:italic;
}

.news{
	margin-top: 4px;
	margin-bottom: 4px;
	text-shadow: none;
	margin-left: 21px;
	color: #3C3C3B;
	border-bottom-color: black;
}
.setmn{
	margin-top: 20px;
	margin-bottom: 21px;
	text-shadow: none;
	margin-left: 21px;
}

#index .desc{
	font-weight: normal;
	margin-top: -12px;
}

#index .ui-content{
	background-color: #D9D9D9;
}

/*Lista de actividades*/
#index .ui-content .ui-listview .ui-btn-inner{
	padding-left: 17px;
}
#t_gen .ui-content .ui-listview .ui-btn-inner{
	padding-left: 17px;
}

#t_gen .ui-content .ui-listview{
	background-color: white;
	margin-top: -1px;
}

#index .ui-content .update{
	margin-left: -15px;
	padding-left: 45%;
	background-color: #F5F5F5;
}


#t_gen .ui-content .update{
	margin-left: 45%;
	background-color: white;
}


#index .ui-content .ui-listview, .ui-panel-inner > .ui-listview {
	margin-left: -15px;
	margin-top: 0;
}






