/*Div general de contenido*/
#equipment .ui-content{
	background-color: white;
}

/*Cabecera del contenido: categoria y subcategoria si la tubeira*/
#equipment .ui-content .h_detail{
	text-shadow: none;
	border-color: white;
	padding-top: 1%;
}

#equipment .cat{
	font-size: 20px;
	font-weight: 900;
}
#equipment .subcat{
	font-size: 16px;
    margin-top: -34px;
}



/*Lista dia, horari, preu, infr*/
#equipment .ui-content .ui-listview{
	margin-top: 20px;
	
}

/*Elementos de la lista*/
#equipment .ui-content .ui-listview .ui-li-static{
	text-shadow: none;
	border-color: white;
	background-color: white;
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
}
/*Icono de la lista*/
#equipment .ui-listview .ui-li-icon {
	top: 2px;
	margin-right: 50px;
}

/*Descripcion*/
#equipment .ui-content .desc_detail {
	margin-top: 20px;
}

#equipment .ui-content .fb{
	display: inline-block;
	vertical-align:top;
	margin-right: 10px;
}
#equipment .ui-content .tw{
	display: inline-block;
	vertical-align:top;
}

#equipment .ui-content .share_text{
	width: 200px;
	text-shadow: none;
	font-size: 12px;
}

#equipment .ui-content .content_detail{margin-left:17px; margin-right: 37px;}
#equipment .ui-content .content_detail .card{margin-left:-12px;}
#equipment .ui-content .content_detail .card .c_tit{font-weight:bold;}


#equipment .ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon{
	padding-left: 32px;
}

#equipment .ui-content .content_detail .ver_actividades {padding-left: 45%;}
#equipment .ui-content .content_detail .ver_actividades .ver_act_icon{margin-left: 45px;}
#equipment .ui-content .content_detail .ver_actividades .ver_act_text{font-size: 16px; font-weight: bold;}








