/*
 * 
 * OJO CUIDAO: LINEA 766 COMENTADA DEL CSS DE JQUERY PRINCIPAL: ICONO POR DEFECTO DE JQUERY
 * OJO CUIDAO: LINEA 1150 CAMBIADO DE 18 X 18 A 32 X 32: Tamaño general de todo lo q lleve de etiqueta ui-icon
 * OJO CUIDAO: LINEA 2083 CAMBIADO MARGIN-TOP DE -9 A -17
 * 
 * **/

.ui-icon-adminis {
	background: url("../img/iconos/Administratives/32/administratives.png") no-repeat transparent;
}
.ui-icon-aprin{
	
	background: url("../img/iconos/Navegacion/32/aprincipal.png") no-repeat transparent;
}
.ui-icon-config {
	background: url("../img/iconos/Navegacion/32/configuracio.png") no-repeat transparent;
}
.ui-icon-acul {
	background: url("../img/iconos/Culturals/32/cultural.png") no-repeat transparent;
}
.ui-icon-esportives {
	background: url("../img/iconos/Esportives/32/esportives.png") no-repeat transparent;
}
.ui-icon-infr {
	background: url("../img/iconos/Infraestructura/32/infraestructura.png")no-repeat transparent;
}
.ui-icon-main {
	background: url("../img/iconos/Navegacion/24/home.png")no-repeat transparent;
}
.ui-icon-aback{
	background: url("../img/iconos/Navegacion/24/atras.png")no-repeat transparent;
}